definition.json
{"name":"6129d6c0-c830-48c6-a646-fff72002bd4b","id":"/providers/Microsoft.Flow/flows/6129d6c0-c830-48c6-a646-fff72002bd4b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Document Approval Workflow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"40cb31b9-7864-49d1-b622-40314e1e0696","type":"User","tenantId":"b2efcef3-8496-40b8-9de8-f135982f3461"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-01-13T22:04:38.81798Z","connectionKeySavedTimeKey":"2025-01-13T22:04:38.81798Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_file_is_created_(properties_only)":{"recurrence":{"frequency":"Minute","interval":3},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://msfau.sharepoint.com/teams/SelfStudy/","table":"cf5913dd-2803-4f4f-a0bc-7adeae8e3554"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewFileItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Start_and_wait_for_an_approval":{"runAfter":{"Delay":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Approval request for @{triggerOutputs()?['body/{Name}']}","WebhookApprovalCreationInput/assignedTo":"fa50jyro@fauad.fau.de","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_file_properties":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://msfau.sharepoint.com/teams/SelfStudy","table":"cf5913dd-2803-4f4f-a0bc-7adeae8e3554","id":"@outputs('Get_file_properties')?['body/ID']","item/ApprovalStatus/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_file_properties":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Update_file_properties')?['body/Author/Email']","emailMessage/Subject":"Document Approved: @{triggerOutputs()?['body/{Name}']}","emailMessage/Body":"<p class=\"editor-paragraph\">Hello,<br><br>Your document \"@{triggerOutputs()?['body/{Name}']}\" has been approved.<br><br>Best regards,<br>Approval System</p><br>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_outlook","connectionName":"shared_outlook","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"Update_file_properties1":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://msfau.sharepoint.com/teams/SelfStudy","table":"cf5913dd-2803-4f4f-a0bc-7adeae8e3554","id":"@outputs('Get_file_properties')?['body/ID']","item/ApprovalStatus/Value":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_1":{"runAfter":{"Update_file_properties1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Update_file_properties1')?['body/Author/Email']","emailMessage/Subject":"Document Rejected: @{triggerOutputs()?['body/{Name}']}","emailMessage/Body":"<p class=\"editor-paragraph\">Hello,<br><br>Your document \"@{triggerOutputs()?['body/{Name}']}\" has been rejected.<br><br>Best regards,<br>Approval System</p><br>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_outlook","connectionName":"shared_outlook","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},{"equals":["",""]}]},"type":"If"},"Get_file_properties":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://msfau.sharepoint.com/teams/SelfStudy","table":"cf5913dd-2803-4f4f-a0bc-7adeae8e3554","id":"@triggerBody()?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"authentication":"@parameters('$authentication')"}},"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Compose":{"runAfter":{"Get_file_properties":["Succeeded"]},"type":"Compose","inputs":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-911cc91c-a2ee-4d20-8a1d-baa8d17e7475","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline"},"shared_approvals":{"connectionName":"shared-approvals-6cfdf12a-b5a9-4255-8691-7b2a82a4f08f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified","apiName":"approvals"},"shared_outlook":{"connectionName":"shared-outlook-85968148-7819-400a-b6db-d0c89367c45a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_outlook","tier":"NotSpecified","apiName":"outlook"}},"flowFailureAlertSubscribed":false,"isManaged":false}}